{% extends 'partials/base.html' %}
{% block title %}Password Reset Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<!-- <div class="cover"> -->
    <div class="container card-container">
        <div class="row mt-5 pt-3">
            <div class="col-md-8 offset-md-2">
                <div class="card my-3 shadow">
                    <div class="card-body">
                        <h4>Reset Password</h4>
                        <hr>
                        <div class="alert alert-info">
                            Enter the email you used for the account registration to recieve instruction
                            on how to recover your password.
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input class="btn btn2 btn-primary btn-block" type="submit" value="Reset">
                        </form>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}