{% extends 'partials/base.html' %}
{% block title %}Password Reset Done{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<!-- <div class="cover"> -->
    <div class="container card-container">
        <div class="row mt-5 pt-3">
            <div class="col-md-8 offset-md-2">
                <div class="card my-3 shadow">
                    <div class="card-body">
                        <h4>Reset Password Done</h4>
                        <hr>
                        <div class="alert alert-info">
                            A mail with instructions on how to reset Password has been sent to the email you provided.
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}