unityblog/blog/__pycache__/
unityblog/unityblog/blog/__pycache__/
unityblog/unityblog/blog/migrations/__pycache__/
assets/
projectenv/
unityblog/blog/migrations/__pycache__/
unityblog/templates/blog/file
unityblog/unityblog/__pycache__/
g@lden1one

unityblog/users/__pycache__/
unityblog/.vscode/
unityblog/users/migrations/__pycache__/
unityblog/db.sqlite3
unityblog/unityblog/settings.py
unityblog/templates/partials/cards.html
unityblog/templates/partials/local.html
unityblog/asset/admin/
unityblog/db.sqlite3

unityblog/asset/images/
unityblog/db.sqlite3
