
<div class="card-container">
    <div class="card">
        <img src="images/Germany.webp" alt="">
        <div class="card-content">
            <h3>post1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem,</p>
            <a href="#" class="btn"><i>Continue Reading...</i></a>
        </div>
    </div>
    <div class="card">
        <img src="images/Germany.webp" alt="">
        <div class="card-content">
            <h3>post1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem,
            what whalll lll 
            </p>
            <a href="#" class="btn"><i>Continue Reading...</i></a>
        </div>
    </div>
    <div class="card">
        <img src="images/Morocco.webp" alt="">
        <div class="card-content">
            <h3>post1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem,</p>
            <a href="#" class="btn"><i>Continue Reading...</i></a>
        </div>
    </div>
    <div class="card">
        <img src="images/man-blowing -trumpet .webp" alt="">
        <div class="card-content">
            <h3>post1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem,</p>
            <a href="#" class="btn"><i>Continue Reading...</i></a>
        </div>
    </div>
</div>