{% extends 'partials/base.html' %}
{% block title %}Home Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container card-container">
    <div class="row mt-5 pt-5">
        <div class="col-md-4">
            <div class="card my-3 shadow" id="form">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" class="btn btn2 btn-primary btn-block" value="post">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            {% for post in posts %}
            <div class="card shadow-lg my-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" alt="img">
                        </div>
                        <div class="col-md-8">
                            <small>{{ post.created_at }}</small>
                            <hr>
                            <a class="h3" href="">{{ post.title }}</a>
                            <p class="text-justify my-3">
                                {{ post.content }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>  
    </div>
</div>
{% endblock %}
