{% extends 'partials/base.html' %}
{% block title %}Post Details Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container card-container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow-lg">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="{{ post.author.userprofile.image.url }}" alt="prfile-img">
                        </div>
                        <div class="col-md-8">
                            <small>{{ post.created_at}}</small>
                            {% if post.author == request.user %}
                            <span><a class="btn btn-danger float-end btn-sm mx-2" href="{% url 'blog-post-delete' post.id %}">Delete</a></span>
                            <span><a class="btn btn-primary float-end btn-sm" href="{% url 'blog-post-edit' post.id %}">Edit</a></span>
                            {% endif %}
                            <hr>
                            <h4>{{ post.title }}</h4>
                            <p>
                                {{ post.content }}
                            </p>
                        </div>
                    </div>
                    <!--Accodion For comment-->
                    <div class="accordion-item accordion-flush">
                        <h2 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false">
                            Comments: {{ post.comment_count }}
                          </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                          <div class="">
                            <div class="card card-body" id="">
                                {% for comment in post.comments %}
                                <p class="text-justify">
                                    {{ comment.content }}
                                </p>
                                {% endfor %}
                            </div>
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            {{ com_form|crispy }}
                            <input type="submit" value="Comment" class="btn btn-primary btn-sm">
                        </form>
                      </div>
                    <!--Accodion Ends-->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
