{% extends 'partials/base.html' %}
{% block title %}Post Edit Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container card-container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow-lg">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" value="Save" class="btn btn-primary btn-sm">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
