{% extends 'partials/base.html' %}
{% block title %}Delete Post Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container card-container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow-lg">
                <div class="card-body">
                    <div class="alert alert-danger">
                        Are you sure you want to delete?
                        remember, once deleted can't undo
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <a class="btn btn-secondary btn-sm " href="{% url 'blog-post-detail' post.id %}">Cancel</a>
                        <input type="submit" value="Yes" class="btn btn-primary btn-sm">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}